<style>
  /*caracteristicas ddel ticket*/
  .ticket {
    width: 47%;
    background-color: #fdfdfd;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 6px rgba(167, 162, 162, 0.945);
    font-size: 25.5vw;
    margin: 30px;
  }

  /*caracteristicas de titulo ticket*/
  h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    font-size: xx-large;
  }

  /*caracteristicas del contenedor del qr*/
  .contenedorQR {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  
  }

  .btn {
  
    background-color: rgb(14, 14, 189);
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px gray;
    width: 200px;
    height: 50px;
  }

  .btn:hover {
    background-color: blue;
    color: white;
  }td{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
  }div .Tproducto{
    margin-right: 350px;
    color: rgb(0, 0, 0);
    font-size: 200px;
    
    
  }div.Tcantidad{
    margin-left: 200px;
    margin-top: -44px;
    color: rgb(0, 0, 0);

  }
  div.titulo-ticket{
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;

  }div .Ttotal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }h3{
    font-size: 40px;
  }div.Tprecio{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 500px; 
    margin-top: -48px;
  }
</style>




<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

</head>

<body>
  <center>
    <div class="ticket">
      <table class="table-fixed w-full">
        <thead>
          <div class="titulo-ticket">
            <h1 >Ticket de Compra</h1>
          </div>
        </thead>
  
        <hr>
        <div class="Tproducto">
          <h2 style="font-family: Arial, Helvetica, sans-serif;">Producto</h2>

        </div>
        <div class="Tcantidad">
          <h2 style="font-family: Arial, Helvetica, sans-serif;">Cantidad</h2>
        </div>
        <div class="Tprecio">
          <h2>Precio</h2>
        </div>
        
        {{#each ped}}
        <tr>
          <!--obtiene la informacion de la base de datos y la imprime en la tabla--->
          <td class="py-1 px-1 bg-red-500..."></td>
          <td class="py-3  bg-green-500...">{{name}}</td>
          <td class="p-3 bg-pink-500...">
            <!--boton para eliminar producto con metodo delete-->
          </td>
          <!--muestra la cantidad de unidades hay en el carrito-->
          <td class="p-4 px-3 bg-gray-300...">{{cantidad}}</td>
          <!--muestra el costo del producto-->
          <td class="py-5 px-3 flex bg-blue-500...">{{precio}}</td>
          

          {{/each}}
          </tbody>
       </tr>

      </table>
      <div class="Ttotal">
        <h3>Total: {{total}}</h3>
      </div>
      <hr>
      <div class="TQR">
        <h1 style="font-size: xx-large;">Codigo QR</h1>
      </div>
      

      <div class="contenedor" >
        <div id="contenedorQR" class="contenedorQR"></div>
      </div>
  </center>
  </div>
  </tr>
     <center>
        <div class="texto-gracias">
          <h1>Gracias por tu compra</h1>
        </div>
     </center>
     
</body>
<script type="text/javascript">
  var contenedorQR = document.getElementById('contenedorQR');

  var QR = new QRCode(contenedorQR);

  QR.makeCode('https://estudiante-railway-production.up.railway.app/pedido/99');

</script>
</html >
