<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
    <title>Inicio</title>
    <link rel="stylesheet" href="styles/estilos.css">
    <link rel="stylesheet" href="imagenes/momo.ico">
</head>
    <body class="bg-gray-200">
        <h1 class="text-center my-15 text-3xl">Bienvenido de Nuevo {{name}}</h1>
        <!--<form action="">
            <div style="text-align: right;">
            <div>Acciones Administrador</div>
            <select name="Acciones" id="">
            <option value="">Alta</option>
            <option value="">Modificacion</option>
            <option value="">Baja</option>
            </select>
        </form>-->
    </body>
</html>